*{
  margin: 0;
}



.container {
  display: flex;
  flex-direction: column;
  
  background-color: rgb(55, 199, 224);
  padding:3rem;
  width:30vw;
  margin: auto;
  text-align: center;
  color: white;
  
}

table, th, td {
  border: 1px solid black;
}

#check-button {
  margin: auto;
}

.down-space{
  padding-bottom: 2rem;
}

.space-between{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.space-b{
  padding-bottom: 1rem;
}